bin/
access.log
build/
build.zip
tools/
cmd/
tvgate
test_start_time
ffmpeg/
.codebuddy/
tvgate.pid
node_modules/
/package.json
/package-lock.json
test_*.js
web/dist/*
!web/dist/.gitkeep
*.local
.DS_Store
.env
.env.local